body{
    margin: 60px;
    background-color: blanchedalmond;
}
h1{
    text-align: center;
}

.login-container{
    display: block;
    margin: auto;
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 40px;
    background-color: beige;
}
